.tree {
  min-width: 450px;
}

.node {
  min-width: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}

.node__label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight {
  background-color: yellow;
}
